<h3>My Contacts</h3>

<div class="grid grid-pad">
  <div>
    <label>First Name:
      <input type="text" #firstName />
    </label>
    <label>Last Name:
      <input type="text" #lastName />
    </label>
    <label>Email:
      <input type="text" #email />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(firstName.value,  lastName.value, email.value ); firstName.value='';  lastName.value=''; email.value=''; ">
      Add
    </button>
  </div>


  <ul class="contacts">
    <li *ngFor="let contact of contacts">
      <app-contact [contact]="contact" (delete)="delete(contact)"></app-contact>
    </li>
  </ul>
</div>
